<!DOCTYPE html>

<html>
  <head>
    <title>리버리치 가이드 문서</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.3.4/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta property="og:title" content="리버리치" />
    <meta property="og:type" content="guidebook" />
    <meta property="og:url" content="https://duswnd25.github.io/riverrich/" />
    <meta property="og:description" content="리버리치 생활 가이드" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/duswnd25/riverrich/master/main.jpg"
    />

    <style type="text/css">
      a:link {
        color: black;
        text-decoration: none;
      }
      a:visited {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: black;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div id="app" class="ma-4">
      <v-app id="keep">
        <v-app-bar app clipped-left color="#2e6cb5">
          <v-app-bar-nav-icon @click="drawer.instance = !drawer.instance">
          </v-app-bar-nav-icon>
          <span class="title ml-3 mr-5">
            <span
              v-show="!$vuetify.breakpoint.mobile"
              class="font-weight-light white--text"
              >리버리치</span
            >
          </span>
          <v-text-field
            solo-inverted
            flat
            hide-details
            label="Search"
            v-model="searchQuery"
            prepend-inner-icon="mdi-magnify"
          ></v-text-field>

          <v-spacer></v-spacer>
        </v-app-bar>

        <v-navigation-drawer
          v-model="drawer.instance"
          app
          clipped
          color="grey lighten-4"
        >
          <v-list dense class="grey lighten-4">
            <v-list-item-group v-model="drawer.menuSelect" color="#2b4163">
              <template v-for="(item, i) in drawerItems">
                <v-row v-if="item.heading" :key="i" align="center">
                  <v-col cols="6">
                    <v-subheader v-if="item.heading">
                      {{ item.heading }}
                    </v-subheader>
                  </v-col>
                </v-row>
                <v-divider v-else-if="item.divider" :key="i" dark class="my-4">
                </v-divider>

                <v-list-item v-else :key="i" link @click="toIndex(item.id)">
                  <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title class="grey--text">
                      {{ item.text }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>

        <v-main>
          <v-container fluid>
            <v-row
              class="my-4"
              no-gutters
              v-for="(content, index) in displayData"
              :id="content.id"
              :key="index"
            >
              <v-banner class="col-12 mb-4">
                {{content.header}}
              </v-banner>

              <v-card
                outlined
                :class="{'col-12' : $vuetify.breakpoint.mobile}"
                :class="{'col-auto' : !$vuetify.breakpoint.mobile}"
                v-if="content.type === 'text'"
              >
                <v-card-text> {{ content.data }} </v-card-text>
              </v-card>

              <v-card
                outlined
                :class="{'col-12' : $vuetify.breakpoint.mobile}"
                :class="{'col-auto' : !$vuetify.breakpoint.mobile}"
                v-if="content.type === 'table'"
              >
                <v-data-table
                  :headers="content.data.headers"
                  :items="content.data.values"
                  hide-default-footer
                  :items-per-page="content.data.values.length"
                  disable-pagination
                >
                  <template v-slot:item.price="{ item }">
                    {{ (item.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                    ",") }}
                  </template>
                  <template v-slot:item.contact="{ item }">
                    <a style="color: black;" v-bind:href="`tel:${item.contact}`"
                      >{{ item.contact }}</a
                    >
                  </template>
                </v-data-table>
              </v-card>

              <v-card
                outlined
                :class="{'col-12' : $vuetify.breakpoint.mobile}"
                :class="{'col-auto' : !$vuetify.breakpoint.mobile}"
                v-if="content.type === 'list'"
              >
                <template v-for="(item, index) in content.data">
                  <v-list-item :key="index" two-line>
                    <v-list-item-content>
                      <v-list-item-sub-title>{{ item }}</v-list-item-sub-title>
                    </v-list-item-content>
                  </v-list-item>

                  <v-divider
                    v-if="index + 1 < content.data.length"
                    :key="index"
                  >
                  </v-divider>
                </template>
              </v-card>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.4/dist/vuetify.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          searchQuery: "",
          drawer: {
            instance: null,
            menuSelect: 0,
          },
          contents: [
            {
              header: "안내",
              icon: "mdi-lightbulb-on-outline",
              id: "notice",
              type: "text",
              data:
                "자주 묻는 질문 & 정보를 정리한 페이지 입니다. 실제와 다를 수 있으니 참고용으로 이용 바랍니다.",
            },
            {
              header: "주차장 향후 방안",
              icon: "mdi-lightbulb-on-outline",
              id: "parking-notice",
              type: "text",
              data:
                "투표 결과 현행 유지하며 점진적 개선하기로 하였으며 원활한 관리를 위해 무인정산기 등 설치 예정",
            },
            {
              header: "연락처",
              icon: "mdi-account-box-outline",
              id: "contact",
              type: "table",
              data: {
                headers: [
                  {
                    text: "항목",
                    align: "start",
                    sortable: true,
                    value: "type",
                  },
                  {
                    text: "연락처",
                    align: "end",
                    sortable: true,
                    value: "contact",
                  },
                ],
                values: [
                  {
                    type: "관리사무소",
                    contact: "02-927-9801",
                  },
                  {
                    type: "세대 현관문 도어락",
                    contact: "1661-3311",
                  },
                  {
                    type: "쿡탑 (인덕션, 하이라이트)",
                    contact: "1644-0806",
                  },
                  {
                    type: "렌지후드",
                    contact: "1644-0806",
                  },
                  {
                    type: "냉장고",
                    contact: "1588-3366",
                  },
                  {
                    type: "세탁기",
                    contact: "1588-3366",
                  },
                  {
                    type: "에어컨",
                    contact: "1588-3366",
                  },
                  {
                    type: "전자렌지",
                    contact: "1588-3366",
                  },
                  {
                    type: "비데",
                    contact: "1588-1952",
                  },
                ],
              },
            },
            {
              header: "주차비용",
              icon: "mdi-car-brake-parking",
              id: "parking-price",
              type: "table",
              data: {
                headers: [
                  {
                    text: "항목",
                    align: "start",
                    sortable: true,
                    value: "type",
                  },
                  {
                    text: "비용",
                    align: "end",
                    sortable: true,
                    value: "price",
                  },
                ],
                values: [
                  {
                    type: "입주민 월 주차",
                    price: 35000,
                  },
                  {
                    type: "외부 월 주차 (12시간)",
                    price: 80000,
                  },
                  {
                    type: "외부 월 주차 (24시간)",
                    price: 130000,
                  },
                  {
                    type: "단기 주차 (시간당)",
                    price: 1000,
                  },
                  {
                    type: "입주민 방문 차량 (1일 / 가족)",
                    price: 3000,
                  },
                  {
                    type: "입주민 방문 차량 (12시간 / 가족)",
                    price: 1500,
                  },
                  {
                    type: "입주민 방문 차량 (1일 / 그외)",
                    price: 4000,
                  },
                  {
                    type: "입주민 방문 차량 (12시간 / 그외)",
                    price: 2000,
                  },
                  {
                    type: "단기 주차 (시간당)",
                    price: 1000,
                  },
                ],
              },
            },
            {
              header: "관리비 조회 (아파트 아이)",
              icon: "mdi-cellphone-information",
              id: "manage-price-online",
              type: "list",
              data: [
                "1. 아파트아이 앱 다운로드 또는 컴퓨터에서 아파트 아이 접속",
                "2. 회원가입 (건물번호 : 호수 4자리 (ex : 0001) - 06728 - 0001)",
                "3. 조회",
              ],
            },
            {
              header: "관리비 미납시",
              icon: "mdi-cellphone-information",
              id: "manage-price-late",
              type: "list",
              data: [
                "방법 1 : 다음 달 관리비 납부시 같이 납부",
                "방법 2 : 입금 후 관리사무소 연락",
              ],
            },
          ],
        },
        computed: {
          displayData() {
            return this.contents.filter((item) =>
              JSON.stringify(item).includes(this.searchQuery)
            );
          },
          drawerItems() {
            const data = this.contents.map((item) => {
              const { id, icon, header } = item;
              return {
                icon,
                id,
                text: header,
              };
            });

            data.unshift({ heading: "목차" });
            return data;
          },
        },
        methods: {
          toIndex(id) {
            this.searchQuery = "";
            window.location = `#${id}`;
          },
        },
      });
    </script>
  </body>
</html>
